.profile-img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.photo-wrapper {
    transition: transform 0.3s ease;
}

.photo-wrapper:hover {
    transform: scale(1.03);
}

@media (max-width: 991px) {
    .profile-img {
        width: 250px;
        height: 250px;
    }
}